@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  
  .content {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 60%;
    justify-content: center;
    align-items: center;
  }
}
